.App {
  text-align: center;
  padding: 5%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  color: rgb(26, 6, 29);
  text-shadow: 2px 2px 2px rgb(131, 23, 134);
}

button {
  color: rgb(131, 23, 134);
  border-radius: 5px;
}

.addBtn {
  color: rgb(131, 23, 134);
}

.task {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: rgb(26, 6, 29);
  text-shadow: 1px 1px 1px rgb(131, 23, 134);
}

.inputText {
  border-radius: 5px;
}

